<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft10{font-size:14px;font-family:Times;color:#000000;}
	.ft11{font-size:22px;font-family:Times;color:#2d2f92;}
	.ft12{font-size:22px;font-family:Times;color:#000000;}
	.ft13{font-size:19px;font-family:Times;color:#2d2f92;}
	.ft14{font-size:19px;font-family:Times;color:#000000;}
	.ft15{font-size:19px;font-family:Times;color:#2d2f92;}
	.ft16{font-size:19px;font-family:Times;color:#000000;}
	.ft17{font-size:16px;font-family:Times;color:#2d2f92;}
	.ft18{font-size:16px;font-family:Times;color:#000000;}
	.ft19{font-size:13px;font-family:Times;color:#000000;}
	.ft110{font-size:16px;font-family:Times;color:#000000;}
	.ft111{font-size:14px;line-height:18px;font-family:Times;color:#000000;}
	.ft112{font-size:13px;line-height:17px;font-family:Times;color:#000000;}
	.ft113{font-size:16px;line-height:20px;font-family:Times;color:#000000;}
	.ft114{font-size:16px;line-height:20px;font-family:Times;color:#000000;}
-->
</style>
</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page1-div" style="position:relative;width:918px;height:1188px;">
<img width="918" height="1188" src="target001.png" alt="background image"/>
<p style="position:absolute;top:58px;left:123px;white-space:nowrap" class="ft111">&#160;<br/>&#160;</p>
<p style="position:absolute;top:5px;left:336px;white-space:nowrap" class="ft11">KEMENTERIAN&#160;PENDIDIKAN,KEBUDAYAAN,&#160;&#160;</p>
<p style="position:absolute;top:30px;left:456px;white-space:nowrap" class="ft11">RISET&#160;DAN&#160;TEKNOLOGI</p>
<p style="position:absolute;top:30px;left:725px;white-space:nowrap" class="ft12">&#160;</p>
<p style="position:absolute;top:56px;left:385px;white-space:nowrap" class="ft13">UNIVERSITAS&#160;NEGERI&#160;MAKASSAR&#160;(UNM)</p>
<p style="position:absolute;top:56px;left:796px;white-space:nowrap" class="ft14">&#160;</p>
<p style="position:absolute;top:82px;left:448px;white-space:nowrap" class="ft15"><b>PROGRAM&#160;PASCASARJANA</b></p>
<p style="position:absolute;top:82px;left:733px;white-space:nowrap" class="ft16"><b>&#160;</b></p>
<p style="position:absolute;top:107px;left:300px;white-space:nowrap" class="ft17">Alamat:&#160;Jl. Bonto Langkasa, Kampus&#160;UNM&#160;Gunungsari&#160;Baru, Makassar&#160;-&#160;90222&#160;</p>
<p style="position:absolute;top:126px;left:391px;white-space:nowrap" class="ft17">Laman:<a href="http://pps.unm.ac.id/">&#160;http://pps.unm.ac.id&#160;</a>;&#160;e-mail:<a href="mailto:pasca@unm.ac.id">&#160;pasca@unm.ac.id</a></p>
<p style="position:absolute;top:126px;left:791px;white-space:nowrap" class="ft18"><a href="mailto:pasca@unm.ac.id">&#160;</a></p>
<p style="position:absolute;top:116px;left:123px;white-space:nowrap" class="ft112">&#160;<br/>&#160;<br/>&#160;</p>
<p style="position:absolute;top:184px;left:132px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:206px;left:237px;white-space:nowrap" class="ft110"><b>SURAT KETERANGAN&#160;PERBAIKAN&#160;SEMINAR&#160;PROPOSAL&#160;</b></p>
<p style="position:absolute;top:227px;left:379px;white-space:nowrap" class="ft110"><b>PROGRAM&#160;DOKTOR&#160;(S3)&#160;</b></p>
<p style="position:absolute;top:247px;left:487px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:268px;left:123px;white-space:nowrap" class="ft113">Berdasarkan&#160;penilaian&#160;tim&#160;penilai&#160;Seminar&#160;Proposal&#160;untuk&#160;penyusunan&#160;disertasi&#160;bagi&#160;mahasiswa:&#160;<br/>&#160;</p>
<p style="position:absolute;top:309px;left:163px;white-space:nowrap" class="ft18">Nama&#160;</p>
<p style="position:absolute;top:309px;left:335px;white-space:nowrap" class="ft18">:&#160;&#160;Nirfayanti&#160;</p>
<p style="position:absolute;top:309px;left:867px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:330px;left:163px;white-space:nowrap" class="ft18">N&#160;I M&#160;</p>
<p style="position:absolute;top:330px;left:335px;white-space:nowrap" class="ft18">:&#160;&#160;191061701016&#160;</p>
<p style="position:absolute;top:330px;left:867px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:351px;left:163px;white-space:nowrap" class="ft18">Program&#160;Studi&#160;</p>
<p style="position:absolute;top:351px;left:335px;white-space:nowrap" class="ft18">:&#160;&#160;Ilmu Pendidikan&#160;</p>
<p style="position:absolute;top:351px;left:867px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:372px;left:163px;white-space:nowrap" class="ft18">Judul&#160;Disertasi&#160;</p>
<p style="position:absolute;top:372px;left:335px;white-space:nowrap" class="ft18">:&#160;&#160;<b>Pengembangan&#160;</b></p>
<p style="position:absolute;top:372px;left:496px;white-space:nowrap" class="ft110"><b>Model&#160;</b></p>
<p style="position:absolute;top:372px;left:566px;white-space:nowrap" class="ft110"><b>Pembelajaran&#160;</b></p>
<p style="position:absolute;top:372px;left:696px;white-space:nowrap" class="ft110"><b>Kooperatif&#160;</b></p>
<p style="position:absolute;top:372px;left:801px;white-space:nowrap" class="ft110"><b>Untuk&#160;</b></p>
<p style="position:absolute;top:392px;left:356px;white-space:nowrap" class="ft114"><b>Meningkatkan&#160;&#160;Kemampuan&#160;&#160;Generalisasi&#160;&#160;Matematis&#160;&#160;Siswa&#160;<br/>SMP&#160;</b></p>
<p style="position:absolute;top:372px;left:867px;white-space:nowrap" class="ft110"><b>&#160;</b></p>
<p style="position:absolute;top:434px;left:123px;white-space:nowrap" class="ft113">&#160;<br/>oleh tim&#160;penilai,&#160;harus&#160;dilakukan&#160;perbaikan-perbaikan dan telah&#160;disetujui&#160;oleh&#160;tim&#160;penilai.&#160;<br/>&#160;</p>
<p style="position:absolute;top:513px;left:182px;white-space:nowrap" class="ft110"><b>No&#160;</b></p>
<p style="position:absolute;top:513px;left:305px;white-space:nowrap" class="ft110"><b>Nama Tim Penilai&#160;</b></p>
<p style="position:absolute;top:503px;left:576px;white-space:nowrap" class="ft110"><b>Disetujui&#160;</b></p>
<p style="position:absolute;top:523px;left:582px;white-space:nowrap" class="ft110"><b>tanggal&#160;</b></p>
<p style="position:absolute;top:513px;left:708px;white-space:nowrap" class="ft110"><b>Tanda Tangan&#160;</b></p>
<p style="position:absolute;top:568px;left:186px;white-space:nowrap" class="ft18">1.&#160;</p>
<p style="position:absolute;top:568px;left:221px;white-space:nowrap" class="ft18">Prof. Dr. H. Hamsu Abdul&#160;Gani, M.Pd&#160;</p>
<p style="position:absolute;top:568px;left:610px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:568px;left:765px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:623px;left:186px;white-space:nowrap" class="ft18">2.&#160;</p>
<p style="position:absolute;top:623px;left:221px;white-space:nowrap" class="ft18">Dr. Mustafa, M.Si&#160;</p>
<p style="position:absolute;top:623px;left:610px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:623px;left:765px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:681px;left:186px;white-space:nowrap" class="ft18">3.&#160;</p>
<p style="position:absolute;top:681px;left:221px;white-space:nowrap" class="ft18">Prof. Dr. Jumadi, S.Pd, M.Si&#160;</p>
<p style="position:absolute;top:681px;left:610px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:681px;left:765px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:739px;left:186px;white-space:nowrap" class="ft18">4.&#160;</p>
<p style="position:absolute;top:739px;left:221px;white-space:nowrap" class="ft18">Dr. Andi&#160;Muhammad &#160;Idkhan, M.T&#160;</p>
<p style="position:absolute;top:739px;left:610px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:739px;left:765px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:794px;left:186px;white-space:nowrap" class="ft18">5.&#160;</p>
<p style="position:absolute;top:794px;left:221px;white-space:nowrap" class="ft18">Prof. Dr. H. M.&#160;Arifin Ahmad, M,A&#160;</p>
<p style="position:absolute;top:794px;left:610px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:794px;left:765px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:832px;left:123px;white-space:nowrap" class="ft113">&#160;<br/>&#160;</p>
<p style="position:absolute;top:853px;left:177px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:853px;left:231px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:853px;left:285px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:853px;left:339px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:853px;left:393px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:853px;left:447px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:853px;left:501px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:853px;left:555px;white-space:nowrap" class="ft18">Makassar,&#160;&#160;</p>
<p style="position:absolute;top:853px;left:663px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:853px;left:717px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:853px;left:771px;white-space:nowrap" class="ft18">2021&#160;</p>
<p style="position:absolute;top:873px;left:123px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:873px;left:177px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:873px;left:231px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:873px;left:285px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:873px;left:339px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:873px;left:393px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:873px;left:447px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:873px;left:501px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:873px;left:555px;white-space:nowrap" class="ft18">Mengetahui&#160;</p>
<p style="position:absolute;top:894px;left:123px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:894px;left:177px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:894px;left:231px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:894px;left:285px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:894px;left:339px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:894px;left:393px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:894px;left:447px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:894px;left:501px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:894px;left:555px;white-space:nowrap" class="ft18">Wakil&#160;Direktur I,&#160;</p>
<p style="position:absolute;top:915px;left:123px;white-space:nowrap" class="ft113">&#160;<br/>&#160;<br/>&#160;<br/>&#160;</p>
<p style="position:absolute;top:977px;left:177px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:977px;left:231px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:977px;left:285px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:977px;left:339px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:977px;left:393px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:977px;left:447px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:977px;left:501px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:977px;left:555px;white-space:nowrap" class="ft110"><b>Dr. Sulaiman&#160;Samad, M.Si.&#160;</b></p>
<p style="position:absolute;top:997px;left:123px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:997px;left:177px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:997px;left:231px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:997px;left:285px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:997px;left:339px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:997px;left:393px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:997px;left:447px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:997px;left:501px;white-space:nowrap" class="ft18">&#160;</p>
<p style="position:absolute;top:997px;left:555px;white-space:nowrap" class="ft18">NIP.&#160;196512311992031035&#160;</p>
<p style="position:absolute;top:1018px;left:123px;white-space:nowrap" class="ft10">&#160;</p>
<p style="position:absolute;top:1053px;left:132px;white-space:nowrap" class="ft18">&#160;</p>
</div>
</body>
</html>
